# MongoDB Atlas
MONGO_URI=mongodb+srv://tumelomapila_db_user:IYt2YfyODd7cfaB9@mobibiz2026.x5tsxzu.mongodb.net/insurance_demo?appName=mobibiz2026

# TextBW SMS (for OTP delivery)
TEXTBW_USERNAME=demo_otp
TEXTBW_PASSWORD=4eb:a901%14
TEXTBW_SENDER_ID=Demo-OTP

# Server
# PORT=  (Do NOT set manually — Railway injects this automatically)
NODE_ENV=production
